@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #88aaee;
  --overlay: rgba(0, 0, 0, 0.8);
  --bg: #dfe5f2;
  --bw: #fff;
  --blank: #000;
  --border: #000;
  --text: #000;
  --mtext: #000;
  --ring: #000;
  --ring-offset: #fff;
  
  --border-radius: 5px;
  --box-shadow-x: 4px;
  --box-shadow-y: 4px;
  --reverse-box-shadow-x: -4px;
  --reverse-box-shadow-y: -4px;
  --base-font-weight: 500;
  --heading-font-weight: 700;
  
  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

.dark {
  --bg: #272933;
  --bw: #212121;
  --blank: #fff;
  --border: #000;
  --text: #e6e6e6;
  --mtext: #000;
  --ring: #fff;
  --ring-offset: #000;
  
  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --context-card-border: hsla(0, 0%, 92%, 1);
    --ds-blue-200: oklch(96.29% 0.0195 250.59);
    --ds-blue-700: oklch(57.61% 0.2508 258.23);
    --ds-blue-900: oklch(53.18% 0.2399 256.9900584162342);
    --ds-red-200: oklch(95.41% 0.0299 14.252646656611997);
    --ds-red-700: oklch(62.56% 0.2524 23.03);
    --ds-red-900: oklch(54.99% 0.232 25.29);
    --ds-amber-200: oklch(96.81% 0.0495 90.24227879900472);
    --ds-amber-700: oklch(81.87% 0.1969 76.46);
    --ds-amber-900: oklch(52.79% 0.1496 54.65);
    --ds-green-200: oklch(96.92% 0.037 147.15);
    --ds-green-700: oklch(64.58% 0.1746 147.27);
    --ds-green-900: oklch(51.75% 0.1453 147.65);
    --ds-teal-300: oklch(94.92% 0.0478 182.07);
    --ds-teal-700: oklch(64.92% 0.1572 181.95);
    --ds-teal-900: oklch(52.08% 0.1251 182.93);
    --ds-purple-200: oklch(96.73% 0.0228 309.8);
    --ds-purple-700: oklch(55.5% 0.3008 306.12);
    --ds-purple-900: oklch(47.18% 0.2579 304);
    --ds-pink-300: oklch(93.83% 0.0451 356.29);
    --ds-pink-700: oklch(63.52% 0.238 1.01);
    --ds-pink-900: oklch(53.5% 0.2058 2.84);
    --ds-gray-100: hsla(0, 0%, 95%, 1);
    --ds-gray-200: hsla(0, 0%, 92%, 1);
    --ds-gray-700: hsla(0, 0%, 56%, 1);
    --ds-gray-1000: hsla(0, 0%, 9%, 1);
    --ds-trial-start: rgb(0, 112, 243);
    --ds-trial-end: rgb(248, 28, 229);
    --ds-turbo-start: #ff1e56;
    --ds-turbo-end: #0096ff;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --context-card-border: hsla(0, 0%, 18%, 1);
    --ds-blue-200: oklch(25.45% 0.0811 255.8);
    --ds-blue-700: oklch(57.61% 0.2321 258.23);
    --ds-blue-900: oklch(71.7% 0.1648 250.79360374054167);
    --ds-red-200: oklch(25.93% 0.0834 19.02);
    --ds-red-700: oklch(62.56% 0.2234 23.03);
    --ds-red-900: oklch(69.96% 0.2136 22.03);
    --ds-amber-200: oklch(24.95% 0.0642 64.78);
    --ds-amber-700: oklch(81.87% 0.1969 76.46);
    --ds-amber-900: oklch(77.21% 0.1991 64.28);
    --ds-green-200: oklch(27.12% 0.0895 150.09);
    --ds-green-700: oklch(64.58% 0.199 147.27);
    --ds-green-900: oklch(73.1% 0.2158 148.29);
    --ds-teal-300: oklch(31.5% 0.0767 180.99);
    --ds-teal-700: oklch(64.92% 0.1403 181.95);
    --ds-teal-900: oklch(74.56% 0.1765 182.8);
    --ds-purple-200: oklch(25.91% 0.0921 314.41);
    --ds-purple-700: oklch(55.5% 0.2186 306.12);
    --ds-purple-900: oklch(69.87% 0.2037 309.51);
    --ds-pink-300: oklch(31.15% 0.1067 355.93);
    --ds-pink-700: oklch(63.52% 0.2346 1.01);
    --ds-pink-900: oklch(69.36% 0.2223 3.91);
    --ds-gray-100: hsla(0, 0%, 10%, 1);
    --ds-gray-200: hsla(0, 0%, 12%, 1);
    --ds-gray-700: hsla(0, 0%, 56%, 1);
    --ds-gray-1000: hsla(0, 0%, 93%, 1);
  }
  .theme {
    --color-context-card-border: var(--context-card-border);
    --color-blue-200: var(--ds-blue-200);
    --color-blue-700: var(--ds-blue-700);
    --color-blue-900: var(--ds-blue-900);
    --color-red-200: var(--ds-red-200);
    --color-red-700: var(--ds-red-700);
    --color-red-900: var(--ds-red-900);
    --color-amber-200: var(--ds-amber-200);
    --color-amber-700: var(--ds-amber-700);
    --color-amber-900: var(--ds-amber-900);
    --color-green-200: var(--ds-green-200);
    --color-green-700: var(--ds-green-700);
    --color-green-900: var(--ds-green-900);
    --color-teal-300: var(--ds-teal-300);
    --color-teal-700: var(--ds-teal-700);
    --color-teal-900: var(--ds-teal-900);
    --color-purple-200: var(--ds-purple-200);
    --color-purple-700: var(--ds-purple-700);
    --color-purple-900: var(--ds-purple-900);
    --color-pink-300: var(--ds-pink-300);
    --color-pink-700: var(--ds-pink-700);
    --color-pink-900: var(--ds-pink-900);
    --color-gray-100: var(--ds-gray-100);
    --color-gray-200: var(--ds-gray-200);
    --color-gray-700: var(--ds-gray-700);
    --color-gray-1000: var(--ds-gray-1000);
    --color-trial-start: var(--ds-trial-start);
    --color-trial-end: var(--ds-trial-end);
    --color-turbo-start: var(--ds-turbo-start);
    --color-turbo-end: var(--ds-turbo-end);
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
